body {
	margin:0;
}
.pageWrapper {
	background: url('https://scontent-lga1-1.cdninstagram.com/hphotos-xpa1/t51.2885-15/10448954_1435072233440137_1328153820_n.jpg');
	background-repeat: no-repeat;
	background-position:center center;
	height:500px;
}
.pageWrapper h5,
.pageWrapper h3 {
	text-align: center;
	font-family: 'Open Sans', 'helvetica', 'sans-serif';
}